{% load static %}

<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>SmartDoctor</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=0.5">

    <!-- <link rel="manifest" href="site.webmanifest"> -->
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'doctors/img/favicon.png' %}">
    <!-- Place favicon.ico in the root directory -->

    <!-- CSS here -->
    <link rel="stylesheet" type="text/css" href="{% static 'doctors/css/evo-calendar.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'doctors/css/evo-calendar.orange-coral.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'doctors/css/evo-calendar.midnight-blue.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'doctors/css/evo-calendar.royal-navy.min.css' %}">
    <!--<link rel="stylesheet" type="text/css" href="{% static 'doctors/css/demo.css' %}"> Interfere com o corpo do site-->
    <link rel="stylesheet" href="{% static 'doctors/fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'doctors/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'doctors/css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'doctors/css/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'doctors/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'doctors/css/themify-icons.css' %}">
    <link rel="stylesheet" href="{% static 'doctors/css/nice-select.css' %}">
    <link rel="stylesheet" href="{% static 'doctors/css/flaticon.css' %}">
    <link rel="stylesheet" href="{% static 'doctors/css/gijgo.css' %}">
    <link rel="stylesheet" href="{% static 'doctors/css/animate.css' %}">
    <link rel="stylesheet" href="{% static 'doctors/css/slicknav.css' %}">
    <link rel="stylesheet" href="{% static 'doctors/css/style.css' %}">
    <!-- <link rel="stylesheet" href="css/responsive.css"> -->
</head>
  <body>
    {% block scripts %} 
    {% endblock scripts %}

    {% block content %} 
    {% endblock content %}
  </body>
</html>

